.completed {
    color: grey;
}

.highlighted {
    background-color: yellow;
}


div {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
    border-radius: 15px;
    border: solid 3px transparent;
    
}

button {
    border-radius: 15px;
    border: solid 3px transparent;
}

input {
    border-radius: 15px;
    border: solid 3px transparent;
}

